/* ========nav footer======= */
@media(max-width:1248px){
        .contenr{
width: 215px;
    }
    .con1{
        width: 209px;
    }
}
@media(max-width:1099px){
    .contenr{
width: 230px;
    }
    .con1{
        width: 209px;
    }
    .footer{
        height: 520px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 94px;
    }
    .footer2{
        width: 25%;
        margin-top: -20px;
    }
    .footer3{
        width: 23%;
    }
}
@media(max-width:790px){
    .footer4{
        margin-top: 87px;
    }
    .all-pages{
        display: none;
    }
    .btn1{
    display: none;
}
    #menu-bar{
        display: block;
    }
}
@media(max-width:750px){
.footer4{
    margin-top: 0px;
}
.footer{
    height: 1090px;
   align-items: start;
   padding: 0 134px;
   gap: 65px;
}
.footer1{
    width: 62%;
}
.footer4{
    width: 60%;
}
.footer2{
    width: 60%;
}
.footer3{
    width: 60%;
}

}
@media(max-width:494px){
    .footer{
        height: 1100px;
        padding: 0 55px;
    }
    nav{
        padding: 0 35px;
    }
}
/* ======nav footer end===== */ 
@media(max-width:1425px){
    .overview{
    padding: 0 99px 0 85px;
}
.f-pic{
    width: 518px;
}
.f-pic2{
    width: 518px;
}
}
@media(max-width:1235px){
.f-pic{
    width: 418px;
    height: 610px;
}
.f-pic2{
    width: 418px;
        height: 610px;
}
}
@media(max-width:1175px){


.f-pic{
    width: 400px;
    height: 610px;
}
.f-pic2{
    width: 400px;
        height: 610px;
}
.sec-h1{
    font-size: 43px;
}
.sec-h2{
    font-size: 43px;
}
}
@media(max-width:998px){
    .poster{
    height: 2200px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 85px;
}
    .overview{
    padding: 0 49px 0 85px;
}
.f-pic{
    width: 600px;
        height: 850px;
}
.f-pic2{
    width: 600px;
        height: 850px;
}
.overview{
    height: 1100px;
    flex-direction: column;
    align-items: start;
justify-content: center;
gap: 55px;
}
   .sec-h1{
        font-size: 27px;
    }
        .sec-h2{
        font-size: 27px;
    }
          .over-h2{
        font-size: 27px;
    }
    .f-h3{
  font-size: 27px;
    }
    .text-ser{
        gap: 1px;
    }
    .sec-p{
        font-size: 13px;
    }
    .over-p{
        font-size: 16px;
    }
    .overview-leftside{
        gap:39px;
    }
    .about{
        padding: 0 30px;
    }
    .rp-h3{
        font-size: 21px;
    }
    .rp-p{
        font-size: 15px;
    }
}
@media(max-width:688px){
    .f-pic{
    width: 379px;
        height: 479px;
}
.f-pic2{
    width: 379px;
        height: 479px;
}
.bm-h2{
    font-size: 49px;
}
.roal-project{
    justify-content: center;
    gap: 65px;
    padding: 0 25px;
}
    .poster{
    height: 1400px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 85px;
}


}
@media(max-width:485px){
      .over-p{
        font-size: 11px;
        line-height: 15px;
    }
    .bm-h2{
    font-size: 29px;
}
    .f-pic{
   width: 275px;
        height: 353px;
}
.f-pic2{
    width: 275px;
        height: 353px;
}
 .poster{
    height: 1143px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 85px;
}
    .rp-h3{
        font-size: 14px;
    }
    .rp-p{
        font-size: 10px;
    }
    .bm{
        height: 125px; 
    }
    .roal-project{
        height: 125px;
    }
}
@media(max-width:364px){
        .f-pic{
   width: 220px;
        height: 272px;
}
.f-pic2{
      width: 220px;
        height: 272px;
}
.overview{
    padding: 0 35px;
}
 .poster{
padding: 0 35px;
 height: 900px;
}
.l-headline{
    font-size: 42px;
}
}